<% provide(:title, "Contact") %>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
<script type="text/javascript" src="js/map.js"></script>
<section class="main clearfix" id="map">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</section><!-- end main/map -->
